<div class="container">
    <div class="text-center">
        <h1>Produtos Femininos</h1>
    </div>
    <p></p>
    <div class="borda">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/d_dR99Ad4x_8FsTxi9WJ1VEIkbA=/fit-in/427x620/static.dafiti.com.br/p/4-esta%25c3%25a7%25c3%25b5es-conjunto-canelado-manga-curta-4-esta%25c3%25a7%25c3%25b5es-blusa-canelada-cal%25c3%25a7a-jogger-cintura-alta-liso-preto-7928-7079329-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Conjunto Canelado Manga Curta 4...</h4>
                  <p class="card-text"> R$ 79,99</p>
                  <a href="https://www.kanui.com.br/Conjunto-Canelado-Manga-Curta-4-Estacoes-Blusa-Canelada-Calca-Jogger-Cintura-Alta-Liso-Preto-9239707.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px; height: fit-content;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/7Vt9Im5SM9Jwf37mTV4V0jDftLE=/fit-in/427x620/static.dafiti.com.br/p/forever-21-blusa-cropped-forever-21-california-azul-9137-16758401-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Blusa Cropped Forever 21 California</h4>
                  <p class="card-text">R$ 44,99</p>
                  <a href="https://www.kanui.com.br/Blusa-Cropped-Forever-21-California-Azul-10485761.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/uOUPW_TH_GJkfsof1SK0XKlFwOQ=/fit-in/427x620/static.dafiti.com.br/p/summer-body-body-gola-alta-summer-body-renda-e-transpar%25c3%25aancia-preto-9247-9992197-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Body Gola Alta Summer Body...</h4>
                  <p class="card-text"> R$ 53,50</p>
                  <a href="https://www.kanui.com.br/Body-Gola-Alta-Summer-Body-Renda-e-Transparencia-Preto-7912999.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
    </div>
    <p></p>
    <div id="linha" class="container"></div>
    <p></p>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/4q0q2GpuLth83efYsyXXRevGxdE=/fit-in/427x620/static.dafiti.com.br/p/habana-blusa-habana-color-cinza-6690-79839011-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Blusa Habana Color Cinza</h4>
                  <p class="card-text">R$ 28,99</p>
                  <a href="https://www.kanui.com.br/Blusa-Habana-Color-Cinza-11093897.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/VUsushZxm85GOYzgc6RcLcArNfU=/fit-in/427x620/static.dafiti.com.br/p/cativa-disney-blusa-cativa-disney-mickey-grafite%252foff-white-0653-74189011-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Blusa Cativa Disney Mickey Grafit</h4>
                  <p class="card-text">R$ 29,99</p>
                  <a href="https://www.kanui.com.br/Blusa-Cativa-Disney-Mickey-Grafite%2FOff-White-11098147.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/XTqNzzjI6X2TH1uXJ9QHQzG8kp0=/fit-in/427x620/static.dafiti.com.br/p/forever-21-blusa-forever-21-long-beach-off-white-8615-13902401-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Blusa Forever 21 Long Beach Off</h4>
                  <p class="card-text">R$ 29,99</p>
                  <a href="https://www.kanui.com.br/Blusa-Forever-21-Long-Beach-Off-White-10420931.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>