<div class="container">
  <div class="row">
    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
      <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
        <h4>Revista</h4>
        <br>
        <div class="card">
          <div class="card-block">
            <p><strong>Se inscreva para receber as novidades</strong></p>
            <p>Enviaremos uma lista de ofertas a você semanalmente</p>
            <div class="md-form">
                <label for="form1">Seu nome</label>
              <i class="fa fa-user prefix"></i>
              <input type="text" id="form1" class="form-control">
            </div>
            <div class="md-form">
              <label for="form2">Sua cidade</label>
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" class="form-control">
          </div>
          <div class="form-group text-center">
                <label for="form2"><strong>Seu email</strong></label>
              <i class="fa fa-envelope prefix"></i>
              <input type="text" id="form2" class="form-control">
            </div>
            <button class="btn btn-default">Enviar</button>
          </div>
        </div>
      </div>    
    </div>
    <div class="col-lg-8">
      <div class="row wow fadeIn" data-wow-delay="0.4s">
        <div class="col-lg-12">
          <div class="divider-new">
            <h2 class="h2-responsive">Oferta</h2>
          </div>
<!-- Carousel -->
<div id="demo" class="carousel slide bg-dark" data-bs-ride="carousel">

<!-- Indicators/dots -->
<div class="carousel-indicators">
<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
</div>

<!-- The slideshow/carousel -->
<div class="carousel-inner">
<div class="carousel-item active" id="img">
<img src="https://img.elo7.com.br/product/zoom/2F4A883/camisetas-longline-guci-inspired-kit-promocao.jpg" alt="gucci" class="d-block w-100">
</div>
<div class="carousel-item" id="img">
<img src="https://images.tcdn.com.br/img/img_prod/371269/camiseta_gucci_masculina_5582_1_20200511155247.jpg" alt="gucci2" class="d-block w-100">
</div>
<div class="carousel-item" id="img">
<img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/637/401/products/camiseta-gucci-fake-logo-preta-31-2864e2b4f6b1dcbd0416304374286929-1024-1024.png" alt="gucci3" class="d-block w-100">
</div>
</div>

<!-- Left and right controls/icons -->
<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
<span class="carousel-control-prev-icon"></span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
<span class="carousel-control-next-icon"></span>
</button>
</div>
      <br>
      <hr class="extra-margins">
      <div class="row">
        <div class="col-lg-4">
          <div class="card  wow fadeIn" data-wow-delay="0.2s">
            <div class="view overlay hm-white-slight">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(32).jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-block">
              <h4 class="card-title">RELÓGIO</h4>
              <p class="card-text">MARCA AS HORAS</p>
              <a href="https://www.kanui.com.br/Relogio-FitGear-Inteligente-Fitness-FitGear-Smartwatch-Esporte-Premium---Preto-7420009.html" class="btn btn-default">Apenas <strong>R$ 89,90</strong></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card  wow fadeIn" data-wow-delay="0.4s">
            <div class="view overlay hm-white-slight">
              <img src="https://t-static.dafiti.com.br/LViUD6ESboBdUspcnrBLSS7DtSE=/fit-in/427x620/static.dafiti.com.br/p/colcci-bolsa-colcci-logo-preta-0756-95591101-1-product.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-block">
              <h4 class="card-title">bolsa</h4>
              <p class="card-text">para carregar coisas</p>
              <a href="https://www.kanui.com.br/Bolsa-Colcci-Logo-Preta-10119559.html" class="btn btn-default">Apenas <strong>R$20,00</strong></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card  wow fadeIn" data-wow-delay="0.6s">
            <div class="view overlay hm-white-slight">
              <img src="https://t-static.dafiti.com.br/urWXCA2suAQgiAvZTRATkqEqsnE=/fit-in/427x620/static.dafiti.com.br/p/dubuy-sapato-mocassim-feminino-fashion-dubuy-1404el-preto-0259-33246901-1-product.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-block">
              <h4 class="card-title">Sapato</h4>
              <p class="card-text">sapato confortavel</p>
              <a href="https://www.kanui.com.br/Sapato-Mocassim-Feminino-Fashion-DUBUY-1404EL-Preto-10964233.html" class="btn btn-default">Apenas <strong>R$10,00</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>