<div class="container">
    <div class="text-center">
        <h1>Produtos Infantis</h1>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/GDmXDebEWHX_2TgUxThMKWTlc8Q=/fit-in/427x620/static.dafiti.com.br/p/nicoboco-camiseta-nicoboco-infantil-estampada-cinza-1866-5754266-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Camiseta Nicoboco Infantil Estampada Cinza</h4>
                  <p class="card-text">R$ 12,99</p>
                  <a href="https://www.kanui.com.br/Camiseta-Nicoboco-Infantil-Estampada-Cinza-6624575.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/y2xAy0YYaf5skeKrLXhNBcRiwJo=/fit-in/427x620/static.dafiti.com.br/p/adidas-performance-camiseta-adidas-performance-infantil-d2m-3-listras-preta-1791-3222657-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Camiseta adidas Performance Infantil D2M...</h4>
                  <p class="card-text"> R$ 79,99 </p>
                  <a href="https://www.kanui.com.br/Camiseta-adidas-Performance-Infantil-D2M-3-Listras-Preta-7562223.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/yyvI__TbBi5qp7c9aaOQw9z7EeA=/fit-in/427x620/static.dafiti.com.br/p/dc-shoes-camiseta-dc-shoes-infantil-logo-branca-3458-1180919-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Camiseta DC Shoes Infantil Logo Branca</h4>
                  <p class="card-text">R$ 49,99</p>
                  <a href="https://www.kanui.com.br/Camiseta-DC-Shoes-Infantil-Logo-Branca-9190811.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
    </div>
    <p></p>
    <div id="linha" class="container"></div>
    <p></p>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/3H5ldvnlGC7jNUtgQIXmsISlGrM=/fit-in/427x620/static.dafiti.com.br/p/vans-t%25c3%25aanis-vans-infantil-yt-ward-preto%252fbranco-6442-7404177-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Tênis Vans Infantil Yt Ward Preto/Branco</h4>
                  <p class="card-text">R$ 279,99</p>
                  <a href="https://www.kanui.com.br/Tenis-Vans-Infantil-Yt-Ward-Preto%2FBranco-7714047.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/cc8DYcYLTK_rJhni7WSG2a7qSng=/fit-in/427x620/static.dafiti.com.br/p/converse-t%25c3%25aanis-converse-chuck-taylor-all-star-azul-2124-7518982-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Tênis Converse Chuck Taylor All Star Azul</h4>
                  <p class="card-text"> R$ 179,90 </p>
                  <a href="https://www.kanui.com.br/Tenis-Converse-Chuck-Taylor-All-Star-Azul-2898157.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/PkiQP_1S-ddqs7N2SXFcYVsrsb8=/fit-in/427x620/static.dafiti.com.br/p/nike-camiseta-nike-infantil-logo-azul-marinho-1782-1694448-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Camiseta Nike Infantil Logo Azul-Marinho</h4>
                  <p class="card-text">R$ 94,99</p>
                  <a href="https://www.kanui.com.br/Camiseta-Nike-Infantil-Logo-Azul-Marinho-8444961.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
    </div>
</div>