<div class="container">
    <div class="text-center">
        <h1>Produtos Masculinos</h1>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/6SNIjfmvtRywZHb8nXkA-U19Fk8=/fit-in/427x620/static.dafiti.com.br/p/element-jaqueta-element-simple-logo-preta-0889-74109501-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Jaqueta Element Simple Black</h4>
                  <p class="card-text">R$ 219,99</p>
                  <a href="https://www.kanui.com.br/Jaqueta-Element-Simple-Logo-Preta-10590147.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/TXj1OG7XRomqXervqSKI2IQ7MsE=/fit-in/427x620/static.dafiti.com.br/p/hurley-jaqueta-corta-vento-hurley-first-cinza-8380-7344168-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Jaqueta Corta Vento Hurley </h4>
                  <p class="card-text">R$ 239,99</p>
                  <a href="https://www.kanui.com.br/Jaqueta-Corta-Vento-Hurley-First-Cinza-8614437.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/DwHesB9EEtDx2B7tvz1Mt7glknU=/fit-in/427x620/static.dafiti.com.br/p/nike-sportswear-jaqueta-corta-vento-nike-sportswear-swoosh-wvn-lnd-azul%252foff-white-9365-3107489-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Jaqueta Corta Vento Nike ...</h4>
                  <p class="card-text">R$ 439,99</p>
                  <a href="https://www.kanui.com.br/Jaqueta-Corta-Vento-Nike-Sportswear-Swoosh-Wvn-Lnd-Azul%2FOff-White-9847013.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
    </div>
    <p></p>
    <div id="linha" class="container"></div>
    <p></p>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/Ye6wAy-ZLbnaG3Wa8jWE_F98T9Y=/fit-in/427x620/static.dafiti.com.br/p/new-era-jaqueta-new-era-basic-sazonal-quad-neyya-azul-7493-0795725-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Jaqueta New Era Basic Sazonal </h4>
                  <p class="card-text">R$ 194,99</p>
                  <a href="https://www.kanui.com.br/Jaqueta-New-Era-Basic-Sazonal-Quad-Neyya-Azul-5275970.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/277Xl6xw-ztD3488L0F8kcJjpTk=/fit-in/427x620/static.dafiti.com.br/p/element-jaqueta-corta-vento-element-logo-peace-preta-7645-35109501-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Jaqueta Corta Vento Element </h4>
                  <p class="card-text">R$ 199,99</p>
                  <a href="https://www.kanui.com.br/Jaqueta-Corta-Vento-Element-Logo-Peace-Preta-10590153.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 420px;">
                <img class="card-img-top" src="https://t-static.dafiti.com.br/iozorkIvOdvX4w6_AxnOWRcBei0=/fit-in/427x620/static.dafiti.com.br/p/element-jaqueta-corta-vento-element-plus-size-logo-peace-preta-4515-55109501-1-product.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Jaqueta Corta Vento Element ...</h4>
                  <p class="card-text">R$ 209,99</p>
                  <a href="https://www.kanui.com.br/Jaqueta-Corta-Vento-Element-Plus-Size-Logo-Peace-Preta-10590155.html" class="btn btn-dark">COMPRAR</a>
                </div>
              </div>
        </div>
    </div>
</div>