<div class="container">
    <div class="text-center">
        <h1>sobre nós</h1>
    </div>
    <p></p>
    <section class="principal text-center m-5 row">
        <div>
            <h1 class="">Lorem ipsum</h1>
            <h2>Ullam placeat doloribus amet quo magni!</h2>
        </div>
        <div class="col-6" id="conteudo-left">
            <p>Loremipsum dolor sit amet consectetur
                adipisicing elit. Et, temporibus aut! Deleniti nam tenetur tempora alias, debitis quibusdam voluptatibus
                ipsum eaque sint labore eligendi nemo architecto
                commodi itaque asperiores repellendus!</p>
            <p>Amet temporibus delectus nam tenetur odio sequi voluptas eveniet, nesciunt mollitia recusandae aperiam
                adipisci natus incidunt non quae. Praesentium nisi maiores dolorum libero suscipit vitae labore
                incidunt, autem temporibus illo?</p>
            <p>Voluptatem, eaque unde. Doloribus rerum facere vel blanditiis voluptas culpa consequatur nobis eum quos
                in deserunt iusto, aspernatur veritatis at officia laboriosam illum delectus, molestias ad? Aliquam
                dolorem ut ea.</p>

        </div>
        <div class="col-6  " id="conteudo col-6">
            <p>Ullam placeat doloribus amet quo magni! Laudantium repudiandae commodi vero nihil reprehenderit, nostrum
                ullam sint voluptatem ut iure similique? Minus molestias porro quasi excepturi? Corrupti molestias at
                explicabo modi inventore?</p>
            <p>Accusantium aspernatur odit ab ullam nemo illum beatae alias cum unde. Sunt ipsam fugiat earum omnis
                voluptate expedita odit nostrum consequuntur, quia iure commodi doloribus veritatis quo aperiam fugit
                molestiae!
            </p>
            <p>Corporis obcaecati sunt ipsam dolorem suscipit a fuga voluptas porro perspiciatis aperiam minus
                repellendus nobis ipsum amet voluptatum incidunt, tempore adipisci dolore doloribus expedita odio vero
                tempora.</p>
        </div>

    </section>